* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	height: 750px;
	width: 750px;
}

.gridRow {
	display: flex;
	flex: auto;
}

.gridItem {
	border: 1px solid black;
	flex: auto;
}

.gridItemActivated {
	border: 1px solid red;
	background-color: red;
}
